@layer base {
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 75rem;
    margin-inline: auto;
    padding: 1rem;

    @media (--xl) {
      padding-inline: 0;
    }
  }

  h1 {
    font-size: var(--fs-5);
  }

  h2 {
    font-size: var(--fs-4);
  }

  h3 {
    font-size: var(--fs-3);
  }

  h4 {
    font-size: var(--fs-2);
  }

  h5 {
    font-size: var(--fs-1);
  }

  h6,
  p,
  li {
    font-size: var(--fs-0);
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
